@charset "utf-8";
@import "./transition";
@import "./elementUi";
@import "./layout";
@import "./sidebar";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #333;
}

#app{
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill { // 去除谷歌自动填充颜色
  -webkit-box-shadow: 0 0 0 400px #fff inset
}
